{% extends 'base.html' %}

{% block title %}
    Quests
{% endblock %}

{% block content %}

    {% include 'base/personagem/dados_personagem.html' %}

    <br>

    Resultado : {% if vitoria %}
        Vitória
        <br>
        gold = {{ gold }}
        <br>
        xp = {{ xp }}

        <br>
        drop = {{ drop }}

    {% else %}
        Derrota
    {% endif %}

    <br>

    Detalhes do Combate
    {% for key, value in combate.items %}
        <br>
        ------------------------------
        <br>
            {{ key }}<br>
                <ul>
                    {% for foo in value %}
                        <li> {{ foo }} </li>
                    {% endfor %}


                </ul>


    {% endfor %}




{% endblock %}