{% extends 'base.html' %}

{% block content %}
    Nome: {{ personagem.nome  }}<br>
    Nível: {{ personagem.nivel }}<br>
    HP: {{ personagem.hp_atual|floatformat:"0"  }} / {{ personagem.hp}} <br>
    Raiva: {{ personagem.raiva_atual|floatformat:"0" }} / {{ personagem.raiva }}<br>
    Energia: {{ personagem.energia_atual|floatformat:"0" }} / {{ personagem.energia }}<br>
    Experiencia: {{ personagem.experiencia }}<br>
    Gold: {{ personagem.gold }}

    <br><br>
    Atributos<br>
    Pontos Diponiveis : {{  personagem.pontos }} <br>
    Ataque: {{ personagem.forca }} {% if personagem.pontos > 0 %}   <a href="{% url 'add_ataque' %}">Add</a>{% endif %} <br>
    Inteligencia: {{ personagem.inteligencia }} {% if personagem.pontos > 0 %}   <a href="{% url 'add_inteligencia' %}">Add</a>{% endif %}<br>
    Agilidade: {{ personagem.agilidade }} {% if personagem.pontos > 0 %}       <a href="{% url 'add_agilidade' %}">Add</a>{% endif %}<br>
    Sabedoria: {{ personagem.sabedoria }} {% if personagem.pontos > 0 %}   <a href="{% url 'add_sabedoria' %}">Add</a>{% endif %}<br>
    Carisma: {{ personagem.carisma }} {% if personagem.pontos > 0 %}       <a href="{% url 'add_carisma' %}">Add</a>{% endif %}<br>
    Energia: {{ personagem.energia }} {% if personagem.pontos > 0 %} <a href="{% url 'add_energia' %}">Add</a>{% endif %}<br>
    Raiva: {{ personagem.raiva }} {% if personagem.pontos > 0 %}     <a href="{% url 'add_raiva' %}">Add</a>{% endif %}<br>

    <br>
    Equipamento
    <br>
    Arma : {{ personagem.armas }}<br>
    Armadura : {{ personagem.armaduras }}
    <br><br>
    Inventario
    <br>
    {% for item in itens %}

        {% if item.pocao is not None %}
            {{ item }}
            <a href="{% url 'pocao' item.pk %}">Usar</a> <br>
        {% endif %}

        {% if item.arma is not None %}
            {{ item }}
            <a href="{% url 'equipar' item.pk %}">Equipar</a> <br>
        {% endif %}

        {% if item.armadura is not None %}
            <a href="{% url 'equipar' item.pk %}">Equipar</a> <br>
        {% endif %}

        {% if item.itemDrop is not None %}
            {{ item }} x {{ item.quantidade }} <br>
        {% endif %}

    {% endfor %}
    

    <a href="{% url 'mundo' %}">Mundo</a>

{% endblock %}