{% extends 'base.html' %}

{% block content %}
    {% if personagens %}
        {% for personagem in personagens %}
            <form method="post" action="{% url 'mundo' %}">
                {% csrf_token %}
                <input name="player" value="{{ personagem.pk }}" hidden="true">
                <button type="submit">S</button>
            </form>

            <a href="{% url 'deletar' personagem.pk %}">De</a>
            {{ personagem.nome }} - {{ personagem.nivel }}
            <br>
        {% endfor %}

        <br>

        {% if personagens|length < 3 %}

            <a href="{% url 'novo_personagem' %}">NOVO</a>
        {% else %}
            Voce já possui o limite maximo de personagens
        {% endif %}
    {% else %}

        Sem Personagens <br>
        <a href="{% url 'novo_personagem' %}">NOVO</a>

    {% endif %}
    
{% endblock %}