{% extends 'base.html' %}

{% block content %}
    Nome: {{ personagem.nome  }}<br>
    Nível: {{ personagem.nivel }}<br>
    Raiva: {{ personagem.raiva_atual }} / {{ personagem.raiva }}<br>
    Energia: {{ personagem.energia_atual }} / {{ personagem.energia }}<br>
    Experiencia: {{ personagem.experiencia }}<br>
    Gold: {{ personagem.gold  }}
     {{  personagem.pontos }}
    <br>
    Atributos<br>

    Ataque: {{ personagem.ataque }} {% if personagem.pontos > 0 %}   <a href="{% url 'add_ataque' %}">Add</a>{% endif %} <br>
    Defesa: {{ personagem.defesa }} {% if personagem.pontos > 0 %}   <a href="{% url 'add_defesa' %}">Add</a>{% endif %}<br>
    Vida: {{ personagem.vida }} {% if personagem.pontos > 0 %}       <a href="{% url 'add_vida' %}">Add</a>{% endif %}<br>
    Energia: {{ personagem.energia }} {% if personagem.pontos > 0 %} <a href="{% url 'add_energia' %}">Add</a>{% endif %}<br>
    Raiva: {{ personagem.raiva }} {% if personagem.pontos > 0 %}     <a href="{% url 'add_raiva' %}">Add</a>{% endif %}<br>

    <a href="{% url 'mundo' %}">Mundo</a>

{% endblock %}