{% extends 'base.html' %}

{% block title %}
    Quests
{% endblock %}

{% block content %}

    {% include 'base/dados_personagem.html' %}

    <br>

    {% if vitoria %}
        Vitória
        {% else %}
        Derrota
    {% endif %}

    {{ vitoria }}
    <br>

    <ul>
    {% for key, value in dados_p.items %}
        <li>{{ key }}: {{ value }}</li>
    {% endfor %}
    </ul>

    <br>
    <ul>
    {% for key, value in dados_a.items %}
        <li>{{ key }}: {{ value }}</li>
    {% endfor %}
    </ul>

{% endblock %}